In [1]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv("test_data.csv")

In [41]:
df.head()

                          content             font_pro  font_size  label
0                             NaN       ABCDEE+Calibri         11      0
1                             NaN       ABCDEE+Calibri         11      0
2                             NaN       ABCDEE+Calibri         11      0
3                 COURSE SYLLABUS  ABCDEE+Calibri,Bold         14      1
4  ENGLISH 101: Basic Composition  ABCDEE+Calibri,Bold         14      1

In [42]:
# df1 = df[(df['label'] > 0)]
# df0 = df[(df['label'] < 1)]

In [43]:
df.describe

<bound method NDFrame.describe of                                                content               font_pro  \
0                                                  NaN         ABCDEE+Calibri
1                                                  NaN         ABCDEE+Calibri
2                                                  NaN         ABCDEE+Calibri
3                                      COURSE SYLLABUS    ABCDEE+Calibri,Bold
4                       ENGLISH 101: Basic Composition    ABCDEE+Calibri,Bold
..                                                 ...                    ...
879                                                NaN                  Arial
880                           WEEK ELEVEN: FINAL EXAMS    ABCDEE+Calibri,Bold
881  “I simply kept my goal in mind and persisted. ...  ABCDEE+Calibri,Italic
882                                 – N. Scott Momaday         ABCDEE+Calibri
883                                                NaN         ABCDEE+Calibri

     font_size  label
0           11      0
1           11      0
2           11      0
3           14      1
4           14      1
..         ...    ...
879         11      0
880         12      0
881         11      0
882         11      0
883         11      0

[884 rows x 4 columns]>

In [44]:
df = df.dropna(axis=0, how='any')

In [45]:
df

,content,font_pro,font_size,label
3,COURSE SYLLABUS,"ABCDEE+Calibri,Bold",14,1
4,ENGLISH 101: Basic Composition,"ABCDEE+Calibri,Bold",14,1
5,Spring Quarter 2013,"ABCDEE+Calibri,Bold",14,1
6,MEETS DAILY,"ABCDEE+Calibri,Bold",14,1
8,ROOM: R306,"ABCDEE+Calibri,Bold",14,1
...,...,...,...,...
877,WEEK TEN: PEER TO PEER EDITING,"ABCDEE+Calibri,Bold",12,0
878,,Symbol,10,0
880,WEEK ELEVEN: FINAL EXAMS,"ABCDEE+Calibri,Bold",12,0
881,“I simply kept my goal in mind and persisted. ...,"ABCDEE+Calibri,Italic",11,0
882,– N. Scott Momaday,ABCDEE+Calibri,11,0

In [46]:
df = df[df.content != 'Exhibit']

In [47]:
df

,content,font_pro,font_size,label
3,COURSE SYLLABUS,"ABCDEE+Calibri,Bold",14,1
4,ENGLISH 101: Basic Composition,"ABCDEE+Calibri,Bold",14,1
5,Spring Quarter 2013,"ABCDEE+Calibri,Bold",14,1
6,MEETS DAILY,"ABCDEE+Calibri,Bold",14,1
8,ROOM: R306,"ABCDEE+Calibri,Bold",14,1
...,...,...,...,...
877,WEEK TEN: PEER TO PEER EDITING,"ABCDEE+Calibri,Bold",12,0
878,,Symbol,10,0
880,WEEK ELEVEN: FINAL EXAMS,"ABCDEE+Calibri,Bold",12,0
881,“I simply kept my goal in mind and persisted. ...,"ABCDEE+Calibri,Italic",11,0
882,– N. Scott Momaday,ABCDEE+Calibri,11,0

In [48]:
df = df[~df['content'].str.contains('Exhibit')]

In [49]:
df = df[~df['content'].str.contains('EXHIBIT')]

In [50]:
df

,content,font_pro,font_size,label
3,COURSE SYLLABUS,"ABCDEE+Calibri,Bold",14,1
4,ENGLISH 101: Basic Composition,"ABCDEE+Calibri,Bold",14,1
5,Spring Quarter 2013,"ABCDEE+Calibri,Bold",14,1
6,MEETS DAILY,"ABCDEE+Calibri,Bold",14,1
8,ROOM: R306,"ABCDEE+Calibri,Bold",14,1
...,...,...,...,...
877,WEEK TEN: PEER TO PEER EDITING,"ABCDEE+Calibri,Bold",12,0
878,,Symbol,10,0
880,WEEK ELEVEN: FINAL EXAMS,"ABCDEE+Calibri,Bold",12,0
881,“I simply kept my goal in mind and persisted. ...,"ABCDEE+Calibri,Italic",11,0
882,– N. Scott Momaday,ABCDEE+Calibri,11,0

In [51]:
df = df[~df['content'].str.contains(r'^([\s\d\/\.]+)$')]

In [52]:
df

,content,font_pro,font_size,label
3,COURSE SYLLABUS,"ABCDEE+Calibri,Bold",14,1
4,ENGLISH 101: Basic Composition,"ABCDEE+Calibri,Bold",14,1
5,Spring Quarter 2013,"ABCDEE+Calibri,Bold",14,1
6,MEETS DAILY,"ABCDEE+Calibri,Bold",14,1
8,ROOM: R306,"ABCDEE+Calibri,Bold",14,1
...,...,...,...,...
877,WEEK TEN: PEER TO PEER EDITING,"ABCDEE+Calibri,Bold",12,0
878,,Symbol,10,0
880,WEEK ELEVEN: FINAL EXAMS,"ABCDEE+Calibri,Bold",12,0
881,“I simply kept my goal in mind and persisted. ...,"ABCDEE+Calibri,Italic",11,0
882,– N. Scott Momaday,ABCDEE+Calibri,11,0

In [53]:
df.loc[df['content'] == 'Whereas']

Empty DataFrame
Columns: [content, font_pro, font_size, label]
Index: []

In [54]:
df = df[~df['content'].str.contains('Whereas')]

In [55]:
df = df[~df['content'].str.contains('WHEREAS')]

In [56]:
df = df[~df['content'].str.contains(r'^[_\W]+$')]

In [57]:
df.to_csv("possible_cleaned_test_data.csv", index=False)

In [58]:
df

,content,font_pro,font_size,label
3,COURSE SYLLABUS,"ABCDEE+Calibri,Bold",14,1
4,ENGLISH 101: Basic Composition,"ABCDEE+Calibri,Bold",14,1
5,Spring Quarter 2013,"ABCDEE+Calibri,Bold",14,1
6,MEETS DAILY,"ABCDEE+Calibri,Bold",14,1
8,ROOM: R306,"ABCDEE+Calibri,Bold",14,1
...,...,...,...,...
874,WEEK NINE: THE EXPOSITORY ESSAY,"ABCDEE+Calibri,Bold",12,0
877,WEEK TEN: PEER TO PEER EDITING,"ABCDEE+Calibri,Bold",12,0
880,WEEK ELEVEN: FINAL EXAMS,"ABCDEE+Calibri,Bold",12,0
881,“I simply kept my goal in mind and persisted. ...,"ABCDEE+Calibri,Italic",11,0
882,– N. Scott Momaday,ABCDEE+Calibri,11,0